@model IEnumerable<WebApplication3.Models.Reward>

@{
    ViewData["Title"] = "Доступные награды";
}

<h1>@ViewData["Title"]</h1>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<h2>Мои очки: @ViewBag.ChildPoints</h2>

<div class="row">
    @foreach (var reward in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@reward.Name</h5>
                    <p class="card-text">Цена: @reward.Points</p>
                    <form asp-action="BuyReward" method="post">
                        <input type="hidden" name="rewardId" value="@reward.Id" />
                        <button type="submit" class="btn btn-primary" disabled="@(ViewBag.ChildPoints < reward.Points)">Купить награду</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>