@model WebApplication3.Models.EditProfileViewModel

<h2>Edit Profile</h2>

@using (Html.BeginForm("Edit", "Account", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Role)
    // To track the user's role

    <div>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    @if (Model.Role != "Child")
    {
        <div>
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    }
    else
    {
        <div>
            @Html.LabelFor(m => m.Email, "Email (cannot be changed)")
            @Html.DisplayFor(m => m.Email)
        </div>
        <div>
            @Html.LabelFor(m => m.Age)
            @Html.DisplayFor(m => m.Age)
        </div>
    }

    @if (Model.Role != "Child")
    {
        <h3>Change Password</h3>
        <div>
            @Html.LabelFor(m => m.CurrentPassword)
            @Html.PasswordFor(m => m.CurrentPassword)
            @Html.ValidationMessageFor(m => m.CurrentPassword)
        </div>

        <div>
            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword)
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>

        <div>
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
    }
    <button type="submit">Save Changes</button>
}