
@{
	ViewData["Title"] = "Tasks";
}

 @model IEnumerable<WebApplication3.Models.Task>

<h1>@ViewData["Title"]</h1>

@if (ViewBag.UserRole != "Child")
{
	<p>
		<a asp-action="Create">Create New</a>
	</p>
}

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Points)
				+
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsCompleted)
			</th>
			<th>
				Child Name
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Points)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsCompleted)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Child.Name)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
					@if (item.IsCompleted)
					{
						<a asp-action="MarkComplete" asp-route-id="@item.Id">Mark Incomplete</a>
					}
					else
					{
						<a asp-action="MarkComplete" asp-route-id="@item.Id">Mark Complete</a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>

